<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lernspiel IT</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
    
    <header>
        <h1>Lernspiel IT</h1>
        <div id="user_details" class="user_details">
            {{ block "user_details" . }}
            {{ end }}
        </div>
    </header>
    
    <main>
        <div id="tile_map1" class="tile_map">
        </div>
    </main>
    
</body>
</html>