<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lernspiel IT</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
  <link rel="stylesheet" href="/static/index.css"/>
</head>
<body hx-ext="response-targets">
    
    <header>
        <h1 hx-get="/" hx-trigger="click" hx-target="body">Lernspiel IT</h1>
        {{ block "user_details" . }}
        {{ end }}
    </header>
    
    <main>
        <div id="tile_map1" class="tile_map">
        </div>
    </main>
    
</body>
</html>