<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lernspiel IT</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
    
    <header>
        <h1>Lernspiel IT</h1>
        <div class="user_details">
            <span>Username</span>
            <button>Logout</button>
        </div>
    </header>
    <main>
        <div class="tile">
            <h2>Tile 1</h2>
            <p>This is some content for tile 1.</p>
        </div>
        <div class="tile">
            <h2>Tile 2</h2>
            <p>This is some content for tile 2, which is optional.</p>
        </div>
    </main>
    
</body>
</html>